:root {
  --mimi-pink: #efcfe3ff;
  --myrtle-green: #32746dff;
  --cambridge-blue: #9ec5abff;
  --light-blue: #b3dee2ff;
  --beige: #eaf2d7ff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-blue);
  font-family: cursive;
}

.c-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: 0%;
}

.c-small-error {
  display: block;
  position: relative;
  font-size: 12px;
  padding-left: 8px;
}

.c-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 200px auto;
  grid-template-rows: 100px auto 100px;
  height: 100vh;
  margin: 0;
}
 
.c-heading {
  grid-area: header;
  background-color: var(--cambridge-blue);
  text-align: center;
  padding: 20px;
}

.c-sidebar {
  grid-area: sidebar;
  background-color: var(--beige);
  border:0px;
  padding: 20px;
  font-weight: bold;
}

.c-content {
  grid-area: main;
  padding: 20px;
  background-color: var(--light-blue);
}

.c-footer {
  grid-area: footer;
  background-color: var(--cambridge-blue);
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.avatar {
  position: absolute;
  right: 30px;
  top: 25px;
  background-color: #9c27b0;
  color: #ffffff 
}
