
body {
  margin: 0;
  padding: 0;
}

.c-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: bisque;
  margin: 0%;
}

.c-small-error {
  display: block;
  position: relative;
  font-size: 12px;
  padding-left: 8px;
}